<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" parallel = "classes" name = "Test">
  <parameter name="browserNmae" value="chrome"></parameter>

  <classes>


      <class name="com.SauceDemo.TestClasses.TC01LoginFunctionality"/>
     
      <class name="com.SauceDemo.TestClasses.TC04MultipleProductAddToCartFunctionality"/>
      <class name="com.SauceDemo.TestClasses.TC02LogOutFunctionality"/>
      <class name="com.SauceDemo.TestClasses.TC03SingleProductAddToCartFunctionality"/>
  
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
